<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL {{ year }} Pointstable</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}">
    <style>
       .login{
            display: flex;
            float:right;
        }
    </style>
</head>
<body>
    <div style="height:50px">
        {% if request.user.is_authenticated %}
            <div class="login">
                <div><a class="button is-primary is-rounded" >hi, {{ request.user.username }}</a></div>
                {% for user in users %}
                    <img src="{{ user.profilepic.url }}" style="width:40px;height:40px;border-radius:50%">
                {% endfor %}
                <div><a class="button is-primary is-rounded" href="{% url 'logout' %}">Logout</a></div>
            </div>
        {% else %}
            <div class="login">
                <div><a class="button is-primary is-rounded" href="{% url 'login' %}">Login</a></div>
                <div><a class="button is-primary is-rounded" href="{% url 'signup' %}">Sign Up</a></div>
            </div>
        {% endif %}

    </div>

    <br>
    <table class="table">
        <caption class="subtitle is-3">IPL {{ year }} Points Table</caption>
        <tr>
            <th>Team</th>
            <th>Played</th>
            <th>won</th>
            <th>lost</th>
            <th>No Result</th>
            <th>Points</th>
        </tr>
        {% for row in pointstable %}
            <tr>
                <td>{{ row.team1 }}</td>
                <td>{{ row.plyd }}</td>
                <td>{{ row.won }}</td>
                <td>{{ row.lost }}</td>
                <td>{{ row.noresult }}</td>
                <td>{{ row.points }}</td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>